/**
 * 全局样式
 */
#app {
  /* width: 1800px; */
  /* height: 900px; */
  margin: 0 auto;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgb(45, 45, 45);

  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB",
    "Heiti SC", sans-serif; */

  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */

  /* font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif; */
  /* font-family: "Verdana", Geneva, sans-serif; */
  /* font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-family: "Century Gothic", "Apple Gothic", sans-serif; */

  /* font-family: "Georgia", "Times New Roman", serif; */
  /* font-family: "Avenir", Helvetica, Arial, sans-serif; */
  /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */

  /* font-family: "Trebuchet MS", "Helvetica", sans-serif; */
  /* font-family: "Verdana", "Geneva", sans-serif; */

  /* letter-spacing: 3px;
  word-spacing: 3px; */
  /* line-height: 1.5; */

  color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * 全局导航菜单栏相关样式
 */
.el-menu-item {
  background-image: linear-gradient(rgb(24, 24, 24), rgb(66, 66, 66));
  border: 1px solid rgb(85, 85, 85);
  letter-spacing: 1px;
  word-spacing: 3px;
}

.el-menu-item-active {
  background-image: linear-gradient(#363636, rgb(97, 97, 97));
  box-shadow: inset 0px 0px 5px 2px #15718d;
  border: 1px solid rgb(85, 85, 85);
  letter-spacing: 1px;
  word-spacing: 3px;
}

/**
 * 全局容器样式
 */

.el-row {
  color: white;
}

.container-fluid {
  height: 62vh;
}

/deep/.el-table--scrollable-y ::-webkit-scrollbar {
  display: true;
}

/**
 * 全局页面头部相关样式
 */

.el-header {
  display: flex;
  text-align: left;

  color: white;
  height: 5vh;

  z-index: 100;

  border: 1px solid rgb(111, 111, 111);
  border-left: none;
  border-right: none;
  border-top: none;

  /* box-shadow: 0px 0px 5px 0px #17bef1; */
  font-size: 16px;
}

.el-header-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 2vh;
}

.el-header-subtitle {
  font-size: 16px;
  margin-top: 2vh;
}

.el-header-radios {
  margin-top: 2vh;
}

.el-header-subcontainer {
  display: flex;
  align-items: center;
}

.el-header-dot {
  display: inline-block;
}

.el-select .el-input__inner {
  background-color: rgb(46, 45, 45);
  color: #ffffff;
}

.el-select .el-input {
  width: 20vh;
}

.input-with-select .el-input-group__prepend {
  background-color: rgb(46, 45, 45);
  color: #ffffff;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgb(111, 111, 111);
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.radio input[type="radio"]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(37, 37, 37);
  transition: background-color 0.2s ease-in;
}

.radio input[type="radio"]:checked:before {
  background-color: rgb(32, 255, 255);
}

.controller {
  margin-top: -6.5%;
  margin-left: 30%;
  position: absolute;
  width: 10%;
}

/**
 * 全局页面主体相关样式
 */

.el-main {
  flex: 1;
  padding: 0;
}

.el-subheader {
  text-align: left;
  height: 3vh;
  padding: 1vh;
  font-weight: bold;
}

.el-table {
  width: 100%;
  background-color: rgb(46, 45, 45);
}

/* 设置普通行的背景颜色为深灰色 */
.el-table__body tr > td {
  background-color: rgb(46, 45, 45) !important; /* 深灰色 */
  color: #ffffff;
}

.el-table td {
  padding: 2vh 2vh;
  height: 20px;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  border-color: rgb(106, 106, 106) !important;
  line-height: 30px;
}

/* 鼠标悬停时的背景色 */
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #3b3b3c !important;
}

/* 当前选中行的背景色 */
.el-table__body tr.current-row > td {
  background-color: #383838e7 !important;
}

/* 禁用行的样式 */
.el-table__body tr.disable-row > td {
  background-color: #3b3b3c !important;
  color: #908f8f;
}

/* 高亮行的样式 */
.el-table__body tr.highlighted-row > td {
  background-color: #4a4a4a !important;
}

.el-table .el-table__row,
.el-table .el-table__column {
  text-align: left;
}

.transparent-table {
  max-height: 20vh;
  border-collapse: collapse;
  color: white; /* 设置字体颜色为白色 */
  background-color: transparent; /* 设置背景透明 */
  width: 100%;
}

.transparent-table th,
.transparent-table td {
  text-align: left;
  border: none;
  padding: 1vh;
}

.table-outer-button {
  font-size: 16px;
  font-weight: bold;

  margin-right: 3vh;

  color: white;
  border: 1px solid rgb(111, 111, 111);

  box-shadow: 5px 5px 5px 0px rgba(42, 42, 42, 0.5);
}

.table-outer-button:hover {
  box-shadow: 2px 2px 10px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);

  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.table-outer-button:active {
  box-shadow: 2px 2px 10px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);

  background-color: rgb(88, 88, 88);
  color: #17bef1;
}

.table-outer-note {
  position: absolute;
  bottom: 10vh;
  right: 12vh;
  color: rgb(174, 174, 174);
}

.table-outer-tc {
  position: absolute;
  bottom: 5vh;
  right: 12vh;
  color: rgb(174, 174, 174);
}

.table-lower-bar {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  /* padding: 1vh; */
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid rgb(111, 111, 111);
  border-right: 1px solid rgb(111, 111, 111);
  background-color: rgb(65, 65, 65);
}

.table-lower-bar-right-text {
  margin-right: 2vh;
  font-weight: bold;
  align-self: center;
}

.table-lower-bar-left-note {
  color: rgb(174, 174, 174);
  margin-right: 2vh;
  align-self: center;
}

.table-lower-bar-left-text {
  margin-left: 2vh;
  font-weight: bold;
  align-self: center;
  margin-right: auto; /* Aligns the text to the left */
}

.config-note {
  right: 8vh;
  position: absolute;
  bottom: 2vh;
  color: rgb(174, 174, 174);
}

.row-disabled {
  background-color: #f0f0f0; /* 灰白色 */
}

.el-dialog {
  display: flex;
  flex-direction: column;

  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #333333 !important;
}

.el-dialog__title {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}

.el-dialog p {
  color: rgb(255, 255, 255);
}

.total-container {
  height: 70vh;
}

.sub-container {
  display: flex;
  flex-direction: column;
  min-height: 20vh;

  border: 1px solid #ccc;
  padding: 10px;

  justify-content: space-between;

  border: 1px solid rgb(111, 111, 111);
  border-radius: 1vh;

  margin-top: 1vh;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* 添加灰色阴影 */
}

.note-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;

  border: 1px solid #ccc;
  padding: 1vh;
  margin: 2vh;

  justify-content: space-between;

  border: 1px solid rgb(111, 111, 111);
  border-radius: 1vh;

  margin-top: 1vh;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* 添加灰色阴影 */
}

.div-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-left: 1vh;
}

.div-content-item {
  margin-top: 1vh;
  margin-left: 1vh;
  text-align: left; /* 文字左对齐 */
  margin-bottom: 2vh; /* 为每个列表项添加下外边距 */
  padding: 1vh;
}

.custom-card {
  overflow: auto;

  background-color: #404040;

  color: white;
  margin-left: 0.5vh;
  margin-right: 0.5vh;

  border: 1px solid rgb(111, 111, 111);
  border-radius: 1vh;
}

.custom-header {
  position: sticky;
  top: 3vh;
  padding: 0.7vh;

  background-color: #646464;

  margin-left: 2vh;
  margin-right: 2vh;

  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  border: 1px solid rgb(111, 111, 111);
  border-radius: 1vh;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* 添加灰色阴影 */
}

.custom-content {
  padding-top: 10vh; /* 确保内容不被表头部分遮挡 */
  padding: 1vh; /* 为内容区域添加内边距 */
  text-align: left; /* 文字左对齐 */
  margin-top: 4vh;
  margin-left: 4vh;
  margin-right: 4vh;
}

.content-item {
  margin-top: 1vh;
  margin-left: 1vh;
  text-align: left; /* 文字左对齐 */
}

.custom-subtitle {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 2vh;
}

.content-alert {
  text-align: center; /* 文字居中对齐 */
  font-weight: bold; /* 加粗显示 */
  margin-bottom: 2vh; /* 为每个列表项添加下外边距 */
  margin-top: 5vh; /* 为每个列表项添加下外边距 */
}

.custom-footer {
  position: absolute;
  bottom: 2vh;
  left: 5vh;

  padding: 1.5vh;

  background-color: #646464;

  color: white;

  border: 1px solid rgb(111, 111, 111);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* 添加灰色阴影 */
  transition: background-color 0.3s ease;
}

.custom-footer:hover {
  background-color: #9b9b9b;
  border: 1px solid rgb(111, 111, 111);
  color: white;
}

.custom-footer:active {
  background-color: #9b9b9b;
  border: 1px solid rgb(111, 111, 111);
  color: white;
}

.el-main-subtitle {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.vertical-radio-group {
  display: flex;
  margin-top: 2vh;
}

.vertical-radio-item {
  margin-bottom: 2vh; /* 控制选项的间距 */
}

.html_page {
  width: 100%;
  position: relative;
}

.html_close_btn {
  position: absolute;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  top: 2vh;
  right: 3vh;
  z-index: 2;
}

.html_OMD {
  width: 100%;
  height: 68vh;
}

.main-btn {
  width: 20vh;
  height: 5.5vh;

  color: white;
  font-size: 16px;
  font-weight: bold;

  padding: 1vh;

  border-radius: 3px;
  border: 1px solid rgb(111, 111, 111);

  box-shadow: 5px 5px 5px 0px rgba(42, 42, 42, 0.5);
  background-color: rgb(65, 65, 65);

  transition: box-shadow 0.3s ease background-color 0.3s ease;
}

.main-btn:hover {
  box-shadow: 5px 5px 20px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);

  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.main-btn:active {
  box-shadow: 5px 5px 20px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);

  background-color: rgb(88, 88, 88);
  color: #17bef1;
}

.main-btn[disabled] {
  background-color: #9c9c9c; /* 设置禁用状态下的背景色 */
  color: #666; /* 设置禁用状态下的文字颜色 */
  border: 1px solid rgb(111, 111, 111);
}

.main-btn[disabled]:hover {
  background-color: #a7a7a7; /* 设置禁用状态下的背景色 */
  color: #767676; /* 设置禁用状态下的文字颜色 */
  border: 1px solid rgb(111, 111, 111);
}

/**
 * 全局页面尾部相关样式
 */

.el-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* position: fixed; */
  bottom: 0;
  width: 100%;

  z-index: 100;

  background-color: rgb(46, 45, 45);
  /* box-shadow: 0px -10px 10px -10px #17bef1; */
  border-top: 1px solid rgb(111, 111, 111);
}

.footer-btn {
  width: 20vh;
  height: 4vh;

  color: white;
  font-size: 20px;
  font-weight: bold;

  padding: 0.5vh;
  margin-left: 1vh;
  margin-top: 0.5vh;

  border-radius: 3px;
  border: 1px solid rgb(111, 111, 111);

  box-shadow: 5px 5px 5px 0px rgba(42, 42, 42, 0.5);
  background-color: rgb(65, 65, 65);

  transition: box-shadow 0.3s ease background-color 0.3s ease;
}

.footer-btn:hover {
  box-shadow: inset 0px 0px 5px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);

  background-color: rgb(88, 88, 88);
  color: #ffffff;
}

.footer-btn:active {
  box-shadow: 2px 2px 10px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);

  background-color: rgb(88, 88, 88);
  color: #17bef1;
}

.footer-btn[disabled] {
  background-color: #9c9c9c; /* 设置禁用状态下的背景色 */
  color: #666; /* 设置禁用状态下的文字颜色 */
  border: 1px solid rgb(111, 111, 111);
}

.footer-btn[disabled]:hover {
  background-color: #a7a7a7; /* 设置禁用状态下的背景色 */
  color: #767676; /* 设置禁用状态下的文字颜色 */
  border: 1px solid rgb(111, 111, 111);
}
