/**
 * 全局样式
 */
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgb(46, 45, 45);

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


/**
 * 全局二级导航菜单栏相关样式
 */

.el-menu-item {
  background-image: linear-gradient(rgb(24, 24, 24), rgb(66, 66, 66));
  border: 1px solid rgb(85, 85, 85);
  width: 25%;
  font-size: 16px;
}

.el-menu-item-active {
  background-image: linear-gradient(#363636, rgb(97, 97, 97));
  box-shadow: 5px 5px 30px 0px #17bef1;
  border: none;
  height: 6vh;
  width: 25%;
  font-size: 16px;
}

.el-menu--horizontal {
  height: 6vh;
  line-height: 6vh;
}

.el-menu--horizontal .el-menu-item {
  height: 6vh;
  line-height: 6vh;
}


/**
 * 全局容器样式
 */

.el-container {
  display: flex;
  flex-direction: column;
}


/**
 * 全局页面头部相关样式
 */

.el-header {
  display: flex;
  text-align: left;

  color: white;
  text-align: left;

  padding-top: 2vh;
  padding-left: 4vh;
}

.el-header-title {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000;
}

.el-header-subtitle {
  font-size: 16px;
}

.el-select .el-input__inner {
  background-color: rgb(46, 45, 45);
  color: #ffffff;
}



/**
 * 全局页面主体相关样式
 */

.el-main {
  flex: 1;
  padding: 0;
}

.el-table {
  width: 100%;
  background-color: rgb(46, 45, 45)
}

.el-table td {
  padding: 2vh 2vh;
  height: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  background-color: rgb(46, 45, 45);
}

.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #3b3b3c !important;
}

.el-table__body tr.current-row > td {
  background-color: #2b2b2be7 !important;
}

.test-number {
  position: absolute;
  bottom: 11vh;
  right: 4vh;
  color: white;
}

.el-dialog {
  background-color: black;
  color: white;
}


/**
 * 全局页面尾部相关样式
 */

.el-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: rgb(46, 45, 45);
  box-shadow: 0px 0px 30px 0px #17bef1;
}

.footer-btn {
  width: 20vh;
  height: 5.5vh;

  color: white;
  font-size: 16px;
  font-weight: bold;

  border: 1px solid rgb(111, 111, 111);
  border-radius: 0;

  box-shadow: 5px 5px 5px 0px rgba(42, 42, 42, 0.5);
  background-image: linear-gradient(rgb(33, 33, 33), rgb(128, 127, 127));
  transition: box-shadow 0.3s ease;
}

.footer-btn:hover {
  box-shadow: 5px 5px 30px 0px #17bef1;
  border: 1px solid rgb(111, 111, 111);
  color: #17bef1
}

.footer-btn:active {
  box-shadow: 5px 5px 30px 0px #17bef1;
  color: #17bef1
}

